# authMethods list and order must correspond to keystone config "methods" option
# in "auth" section. This data is used by the "-auth-method" number.
authMethods:
  - password
  - token
  - oauth1
  - application_credential
# tokenTTL corresponds to keystone config "expiration" option in "token" section
tokenTTL: 4h
# fernetKeys values should be taken from files in "key_repository" directory of
# the "fernet_tokens" section. Alternatively a Vault URL can be specified.
# A VAULT_TOKEN env variable must be set or ~/.vault-token should exist with a
# valid token.
fernetKeys:
  - https://vault/<kv-storge>/<secret-path>/<secret-key>
  - fernet-key-value
